<!DOCTYPE html>
<head>
   <title>Flask Webserver</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
   <h1 class="text-center"><strong>Home Automation and Surveillance System using Internet of Things</strong></h1>
   <P></P><P> <noscript></noscript> </P><P> <noscript></noscript> </P><P> <noscript></noscript> </P>
   <P></P>
   <P></P>
   <P></P>
{% for pin in pins %}
<h2 align="center">{{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently <strong>on</strong></h2><div class="row"><div class="col-md-2 col-lg-offset-2 col-lg-8">
      <a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a></div></div>
   {% else %}
      is currently <strong>off</strong></h2><div class="row"><div class="col-md-2 col-lg-offset-2 col-lg-8">
      <a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a></div></div>
   {% endif %}
   {% endfor %}
<h2 align="center">Live Camera Feed</h2> 
   <form method = "POST">
       <div class="row"><div class="col-md-2 col-lg-offset-2 col-lg-8">
       <p><button input type="submit" class="btn btn-block btn-lg btn-primary">Webcam</button></p>
       </div>
   </form>
</body>
</html>

